.background {
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
    background-color: #282828;
    overflow: auto;
    scroll-behavior: smooth;
    align-content: center;
}

.pantry-item-container {
    height: 90%;
    width: 90%;
    margin: auto;
    align-content: center;
}

.ingredient-container {
    position: relative;
    top: 0;
    height: 10%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: left;
    align-content: center;
    font-family: 'Inter', sans-serif;
    background-color: #5a8f41;
    border-radius: 1em;
    display: flex;
}

.ingredient-name {
    padding-left: 5%;
    height:100%;
    width: 60%;
    align-content: center;
}

.ingredient-quantity {
    height:50%;
    width: 20%;
    text-align: right;
    margin-top: 6%;
    align-content: middle;
    background-color: #729f5b;
}

.ingredient-measurement {
    height:100%;
    width: 20%;
    align-content: center;
}

.update-button {
    text-align: center;
}

.btn-dark {
    width: 45%;
    font-family: 'Inter', sans-serif;
    background-color: #3f3f3f !important;
    outline-style: none !important;
}

.update-icon {
    padding-left: 10%;
}